<twig:Layout title="Hello Live component">
    <p>Counter</p>
    <twig:Counter />

    <hr>
    <p>Markdown to html</p>
    <twig:LiveDown style="display: flex; gap:1rem;"/>

    <hr>
    <p>Live search</p>
    <twig:LiveSearch />

    <hr>
    <p>Live Simple Form</p>
    <twig:LiveSimpleForm />

    <hr>

    <p>Live Validation form</p>
    <twig:LiveValidateForm />
</twig:Layout>

